POSTGRES_USER=devops
POSTGRES_DB=devops_lab
POSTGRES_PASSWORD=changeme
DATABASE_URL=postgresql+psycopg2://devops:changeme@postgres:5432/devops_lab
USER_SERVICE_URL=http://user-service:5001
MEMBERSHIP_SERVICE_URL=http://membership-service:5002
NOTIFICATION_SERVICE_URL=http://notification-service:5004
